name: Docker Image CI

on:
  workflow_dispatch:
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |
       cd ${GITHUB_WORKSPACE}/ContainerApp/demoApp
       docker build . --file Dockerfile --tag my-image-name:$(date +%s)
